@import 'yoga';
@import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'container';

$brand-primary: #3473b5;
$brand-white: #fff;
$pink: #e577aa;
$blue: #72bbe9;
$green: #7abe93;
$yellow: #e5b178;

$gutter: 1rem;
$max-contentwidth: 60rem;


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-item {
  display: flex;
  width: calc(100% / 3);
  padding: $gutter;
}

.shop-item {
  border: 0.3rem solid $brand-primary;
}

.shop-item-buttons {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 0.3rem solid $brand_primary;

  :nth-child(5n) {
    border-right: 0;
  }
}

.shop-item-description {
  padding: $gutter;
}

.shop-button {
  width: calc(100% / 5);
  padding: 0;

  border-right: 0.2rem solid $brand_primary;
  color: $brand_primary;
  text-align: center;

  &:hover {
    color: $brand_white;
    background: $brand-primary;
  }
}


.shirt-div {
  width: 100%;
  padding-top: $gutter;
  padding-right: $gutter;
  padding-left: $gutter;

}

img {
  width: 100%;
}

li {
  list-style: none;
}

.shop-item-title {
  text-align: center;
  color: $brand-primary;
  padding-top: $gutter;
  padding-right: $gutter;
  padding-left: $gutter;

}

.shop-item-description {
  color: $brand-primary;
  text-align: center;
}

.shop-button {
  list-style: none;
}

.dropdown {
  position: relative;
}

.fa {
  font-size: 1.9rem;
  padding: 0.3rem;

  &:hover {
    font-size: 2.1rem;
  }
}

.shirt-size {
  font-size: 1.9rem;
  padding: 0.3rem;
}

.dropdown__options {
  display: none;
  position: absolute;
  text-align: center;
  padding: 0;
  width: 100%;

  left: 0rem;
  top: -11.5rem;

  &-item-shirt-color-pink {
    width: 100%;
    color: $pink;
    border: 0.2rem solid $brand-primary;

    &:hover {
      font-size: 2rem;
    }

  }

  &-item-shirt-color-blue {
    color: $blue;
    border: 0.2rem solid $brand-primary;

    &:hover {
      font-size: 2rem;
    }

  }

  &-item-shirt-color-yellow {
    color: $yellow;
    border: 0.2rem solid $brand-primary;

    &:hover {
      font-size: 2rem;
    }

  }

  &-item-shirt-color-green {
    color: $green;
    border: 0.2rem solid $brand-primary;

    &:hover {
      font-size: 2rem;
    }

  }

  &-item {
    border: 0.2rem solid $brand-primary;
  }
}


.dropdown:hover .dropdown__options {
  display: flex;
  flex-direction: column;
  background: $brand-white;

  position: absolute;

}


.dropdown__options-item {
  font-size: 1.7rem;
  padding: 0.3rem;

  &:hover {
    font-size: 2rem;
  }
}

.dropdown__options {
  color: $brand_primary;
  background: $brand-white;
}

@media screen and (min-width: 500px) and (max-width: 980px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .row {
    display: block;
    flex-flow: column;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .shop-item {
    display: flex;
  }

  .shirt-div {
    padding: $gutter;
  }

  .shop-item-buttons {
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    border-top: 0;
    border-left: 0.3rem solid $brand-primary;

  }

  .shop-button {
    width: 100%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 0.3rem solid $brand-primary;

  }

  .dropdown:hover .dropdown__options {
    flex-direction: row;
    background: $brand_white;
  }



  .dropdown__options {
    position: relative;
    top: -0.5rem;
    left: -9.5rem;
    background: $brand-white;
  }

  .shirt-color-list {
    top: -0.1rem;
    left: -10.2rem;
  }

  .shirt-size:hover {
    background: $brand_primary;
  }

  .dropdown__options-item-shirt-color-pink, .dropdown__options-item-shirt-color-blue, .dropdown__options-item-shirt-color-yellow, .dropdown__options-item-shirt-color-green {
    background: $brand-white;
  }

  .dropdown__options-items-s, .dropdown__options-items-m, .dropdown__options-items-l, .dropdown__options-items-xl {
    background: $brand_white;
  }

}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
  }

  .row {
    display: block;
    flex-flow: column;
    width: 100%;
  }

  .grid-item {
    width: 100%;
  }
}
